.heading{
  font-family: 'Abril Fatface', cursive; position: relative; text-align: center; color: #00020d; font-size: 2em;
}
.sub{
font-family: 'Tillana', cursive; color: #00020d; font-size: 1.5em;
}

.heightA{background-color: #03f755;}

.normalText{color: #00020d; font-family: 'Pangolin', cursive; font-size: 1.2em;}
.bodyMainContent{background-color: #ED8D5A}
h2{font-family: 'Luckiest Guy', cursive; font-size: 1.5em;}
