.heading{
  font-family: 'Abril Fatface', cursive; position: relative; text-align: center; color: #f1f1f1;
}
.sub{
font-family: 'Tillana', cursive; color: #f1f1f1;
}

.heightA{background-color: #2596be;}
